/* ==========================================================
   RESET
========================================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    min-height:100%;
    font-family:"Poppins",sans-serif;
    background:var(--bg-body);
    color:var(--text-dark);
}

body{
    overflow:hidden;
}

img{
    display:block;
    max-width:100%;
}

a{
    text-decoration:none;
    color:inherit;
}

button,
input{
    font:inherit;
    border:none;
    outline:none;
}

button{
    cursor:pointer;
}

ul{
    list-style:none;
}