/* ==========================================================
   TRIPSWONDER MANAGEMENT SYSTEM
   VARIABLES
========================================================== */

:root{

    /* Colors */

    --primary:#0A3D91;
    --secondary:#1E88E5;
    --accent:#F9B233;

    --success:#16A34A;
    --warning:#F59E0B;
    --danger:#DC2626;

    --white:#FFFFFF;

    --bg-body:#F4F7FB;
    --bg-card:#FFFFFF;

    --text-dark:#1E293B;
    --text-light:#64748B;

    --border:#E5E7EB;

    /* Radius */

    --radius-sm:10px;
    --radius-md:15px;
    --radius-lg:20px;
    --radius-xl:30px;

    /* Shadow */

    --shadow:
    0 10px 30px rgba(0,0,0,.08);

    /* Transition */

    --transition:.30s ease;

}